$mobile: 767px;
$cor: #7f1d1d;
.navbar{
  background-color: $cor;
  color: white;
  margin-bottom: 40px;
  .title{
    padding: 6px;
    font-size: 32px;
  }
}

#teste{
  color: red;
  text-align: center;
}

.main-container{
  @media screen and (max-width: $mobile) {
    max-width: 90%;
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
      max-width: 90%;
  }
}

.card{
  margin-bottom: 40px;
}