$mobile: 767px;

.navbar{
  background-color: rgb(31, 53, 5);
  color: white;
  .title{
    padding: 6px;
    font-size: 32px;
  }
}

#teste{
  color: red;
  text-align: center;
}

.main-container{
  @media screen and (max-width: $mobile) {
    max-width: 90%;
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
      max-width: 90%;
  }
}